.filterItem
  margin-right: 0.5rem
  padding: 0.5rem
  display: flex
  flex-direction: row
  gap: 0.5rem
  align-items: center
  border-radius: var(--border-radius-round) 

  &__textField
    border-radius: var(--border-radius-round) !important
    background-color: var(--dark-50) !important