.menuItem
  color: var(--light) !important
  text-transform: none !important
  display: flex !important
  justify-content: start !important
  align-items: center !important
  background-color: var(--dark-800) !important
  margin-bottom: 0.25rem !important
  padding: 0.75rem 0.5rem !important